version: '3.8'

services:
  hr-app-frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_SOCKET_URL: ${NEXT_PUBLIC_SOCKET_URL:-https://hr-backend.bromn.biz.id}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-https://hr-backend.bromn.biz.id}
    ports:
      - "${HOST_PORT:-3001}:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_SOCKET_URL=${NEXT_PUBLIC_SOCKET_URL:-https://hr-backend.bromn.biz.id}
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-https://hr-backend.bromn.biz.id}
    restart: unless-stopped
    networks:
      - hr-network

networks:
  hr-network:
    driver: bridge

